.running__article {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
  background-color: #ffffff;
}

.container {
  padding: 0px 16px;
  
}

.homepage-products__tab {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  margin: 32px 0px 16px;
  text-align: left;
}

.homepage-products__tab-item-active ,.homepage-products__tab-item {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
}



.homepage-products__tab-item-active:after {
  content: "|";
  margin: 0 20px;
  opacity: .2;
  font-weight: 400;
}

.homepage-products__tab-item {
  opacity: 0.4;
}

.card {
  max-width: 300px;
  min-width: 180px;
  padding: 9px;
  background-color: #ffffff;
}

.card__list {
  display: flex;
}

.card__top {
  position: relative;
}

.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: auto;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.header__play {
  display: inline-flex;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  background-color: rgba(39, 37, 39, 0.68);
}

.header__play > i {
  color: white;
  font-size: 12px;
}

.header__couter {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1em;
  letter-spacing: 0.03em;
  color: #2f5acf;
}


.header__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 22px;
  padding: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.header__tag--green {
  background-color: #2f5acf;
}

.header__tag--blue {
  background-color: #009739;
}

.image__block {
  position: relative;
  width: 100%;
  max-height: 330px;
  border-radius: 10px;
  overflow: hidden;
}

.block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  /* padding: 9px; */
}

.hover {
  opacity: 0;
}

/* .image__block:hover > .block__image {
  scale: 2;
  transform: scale(2);
} */


.image__block:hover > .hover {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
}


.image__block:hover > .block__size {
  visibility: visible;
}

.block__size {
  position: absolute;
  bottom: 20px;
  margin: 0 16px;
  border-radius: 10px;
  padding: 15px 10px 10px;
  backdrop-filter: blur(50px);
  visibility: hidden;
}

.size__title {
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.size__list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  /* margin: -10px -10px; */
}

.size__item {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  font-size: 70%;
  font-weight: bold;
  /* margin: 10px 10px; */
}

.size__item:hover {
  background: black;
  color: white;
}

.card__body {
  
}

.body__colors {
  display: flex;
  gap : 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

/* .color__item {
  display: inline-block;
  width: 35px;
  height: 20px;
  background-color: red;
  border-radius: 15px;
  border: 3px solid #fff;
  border-width
  border-style
  border-color
  border: none
  outline
}

.color__item:hover {
  outline: 1px solid gray;
} */

.color__item {
  display: inline-block;
  width: 35px;
  height: 20px;
  background-color:#000000;
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

.color__item:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 41px;
  height: 26px;
  border-radius: 15px;
  border: 1.5px solid gray;
}

/* .color__item:hover {
  outline: 1px solid gray;
} */

.card__product-name {
  display: inline;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  /* margin: 0px 0px 15px; */
  margin-top: 10px;
}

.card__product-color {
  font-size: 14px;
  color: #0009;
  /* margin: -10px 0 5px; */
  margin-top: 5px;
}

.card__product-price {
  margin-top: 5pxpx;
}

.price__discounted {
  text-decoration: none;
  color: #c4c4c4;
  font-weight: 700;
  margin-top: 5px;
}

.price__price {
  text-decoration: none;
  color: #242424;
  font-weight: 700;
  margin-top: 5px;
}

.price__discount {
  color: red;
  margin-left: 10px;
}

.card__product-note--hightlight {
  color: #2f5acf;
  font-style: italic;
}

.card__product-note {
  display: block;
  font-size: 12px;
  line-height: 1.5em;
  font-style: italic;
  letter-spacing: .03em;
  margin-top: 5px;
  color: #000000;
  opacity: 0.3;
}