.uppercase .mb16{
   color: 292929;
   font-family: Raleway;
   font-size: 24px;
   letter-spacing: 3px;
   line-height:32px ;
   margin: 0px -3px 16px 0px;
   text-align: center;
   text-transform: uppercase;
}

.uppercase .mb64{
    color: #666666;
    font-family: Open Sans;
    line-height: 28px;
    margin: 0px 0px 64px;
    text-align: center;
}

.image{
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    color: #47b475;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
